<div>
    <canvas id="myChart"></canvas>
</div>

<div id="panelName">{{ panels.0.name }}</div>
<div id="keyword">{{ panels.0.keyword }}</div>
<div id="startTime">{{ panels.0.startTime }}</div>
<div id="endTime">{{ panels.0.endTime }}</div>

<div id="panelName">{{ panels.1.name }}</div>
<div id="keyword">{{ panels.1.keyword }}</div>
<div id="startTime">{{ panels.1.startTime }}</div>
<div id="endTime">{{ panels.1.endTime }}</div>