<div>
    <canvas id="myChart"></canvas>
</div>

<div id="panelName">{{ panels.0.name }}</div>
<div id="keyword">{{ panels.0.keyword }}</div>
<div id="startTime">{{ panels.0.startTime }}</div>
<div id="endTime">{{ panels.0.endTime }}</div>

<div id="panelName2">{{ panels.1.name }}</div>
<div id="keyword2">{{ panels.1.keyword }}</div>
<div id="startTime2">{{ panels.1.startTime }}</div>
<div id="endTime2">{{ panels.1.endTime }}</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/js/chart-battle.js"></script>
